{# src/AppBundle/Resources/views/Visit/contact.html.twig#}

{% extends "layout.html.twig" %}

    {% block title %}
        {{ 'title.site.contact' | trans }} - {{ parent() }}
    {% endblock %}


    {% block body %}

        <header class="masthead text-center text-white d-flex">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h1 class="text-uppercase">
                            <strong>{{ 'title.welcome' | trans }}</strong>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <section>

        <div class="container">
            <div class="row">

                <div class="col-lg-1">
                </div>

                <div class="col-lg-11 section-progress">
                    <div class="container">

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item text-success font-weight-bold text-uppercase" style="text-decoration:underline;">{{ 'contact.us' | trans }}</li>
                            </ol>
                        </nav>

                        <p>{{ 'contact.paragraph0' | trans }}</p>

                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                        {{ form_row(form.lastname) }} <br/>

                        {{ form_row(form.firstname) }} <br/>

                        {{ form_row(form.email) }}<br/>

                        {{ form_row(form.message) }}<br/>

                        <div class="row">
                            <div class="col-sm-1">
                            </div>

                            <div class="col-sm-11">
                                <button type="submit" class="btn btn-success">{{ 'button.validate' | trans }}</button>
                            </div>
                        </div>

                        {{ form_end(form) }}<br/>

                    </div>
                </div>

            </div>
        </div>

        </section>

    {% endblock %}