{# src/AppBundle/Resources/views/Visit/customer.html.twig#}

{% extends "layout.html.twig" %}

    {% block title %}
        Coordonnées de l'acheteur - {{ parent() }}
    {% endblock %}


    {% block body %}

        <div class="container">
            <div class="row">

                <div class="col-lg-1">
                </div>

                <div class="col-lg-11 section-progress">
                    <div class="container">

                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 60%;
                            " aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Coordonnées de l'acheteur</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <section>

            <div class="container">
                <div class="row">

                    <div class="col-lg-1">
                    </div>


                    <div class="col-lg-11">
                        <div class="container">
                            <div class="form-group">


                    {{ form_start(form) }}

                    {{ form_row(form.lastname) }}
                    {{ form_errors(form.lastname) }}<br/>

                    {{ form_row(form.firstname) }}
                    {{ form_errors(form.firstname) }}<br/>

                    {{ form_row(form.email) }}
                    {{ form_errors(form.email) }}<br/>

                    {{ form_row(form.adress) }}
                    {{ form_errors(form.adress) }}<br/>

                    {{ form_row(form.postCode) }}
                    {{ form_errors(form.postCode) }}<br/>

                    {{ form_row(form.city) }}
                    {{ form_errors(form.city) }}<br/>

                    {{ form_row(form.country) }}
                    {{ form_errors(form.country) }}<br/>

                        <div class="row">
                            <div class="col-sm-1">
                            </div>

                            <div class="col-sm-11">
                                {{ form_widget(form.save, {attr: {class: "btn btn-success"}}) }}
                            </div>
                        </div>

                    {{ form_end(form) }}

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    {% endblock %}
