{# src/AppBundle/Resources/views/Visit/customer.html.twig#}

{% extends "layout.html.twig" %}

    {% block title %}
        Coordonnées de l'acheteur - {{ parent() }}
    {% endblock %}


    {% block body %}

        <div class="container">
            <div class="row">

                <div class="col-lg-1">
                </div>

                <div class="col-lg-11 section-progress">
                    <div class="container">

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Choix des billets</li>
                                <li class="breadcrumb-item active">Identification</li>
                                <li class="breadcrumb-item text-success font-weight-bold" style="text-decoration:underline;">COORDONNEES</li>
                                <li class="breadcrumb-item active">Paiement</li>
                                <li class="breadcrumb-item active">Confirmation</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
        </div>

        <section>

            <div class="container">
                <div class="row">

                    <div class="col-lg-1">
                    </div>


                    <div class="col-lg-11">
                        <div class="container">
                            <div class="form-group">


                    {{ form_start(form) }}

                    <div class="num-billet">Coordonnées de l'acheteur :</div><br/>

                    {{ form_row(form.lastname) }}<br/>

                    {{ form_row(form.firstname) }}<br/>

                    {{ form_row(form.email) }}<br/>


                    <div class="num-billet">Adresse de facturation :</div><br/>

                    {{ form_row(form.adress) }}<br/>

                    {{ form_row(form.postCode) }}<br/>

                    {{ form_row(form.city) }}<br/>

                    {{ form_row(form.country) }}<br/>

                        <div class="row">
                            <div class="col-sm-1">
                            </div>

                            <div class="col-sm-11">
                                <button type="submit" class="btn btn-success">Validez</button>
                            </div>
                        </div>

                    {{ form_end(form) }}<br/>

                                <div class="star">(*) champs obligatoires</div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    {% endblock %}
