{# src/AppBundle/Resources/views/Visit/identify.html.twig#}

{% extends "layout.html.twig" %}

    {% block title %}
        Identification des visiteurs - {{ parent() }}
    {% endblock %}


    {% block body %}

        <div class="container">
            <div class="row">

                <div class="col-lg-1">
                </div>

                <div class="col-lg-11 section-progress">
                    <div class="container">

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Choix des billets</li>
                                <li class="breadcrumb-item text-success font-weight-bold"
                                    style="text-decoration:underline;">IDENTIFICATION
                                </li>
                                <li class="breadcrumb-item active">Coordonnées</li>
                                <li class="breadcrumb-item active">Paiement</li>
                                <li class="breadcrumb-item active">Confirmation</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
        </div>

        <section>

            <div class="container">
                <div class="row">

                    <div class="col-lg-1">
                    </div>


                    <div class="col-lg-11">
                        <div class="container">
                            <div class="form-group">

                                {{ form_start(form) }}

                                {% for ticket in form.tickets %}

                                    <div class="num-billet">BILLET N°{{ loop.index }}</div><br/>

                                    {{ form_row(ticket.lastname) }}
                                    {{ form_row(ticket.firstname) }}

                                    {{ form_row(ticket.country, { 'separator': '=====' }) }}<br/>

                                    {{ form_row(ticket.birthday) }}<br/>

                                    {{ form_row(ticket.discount) }}<br/>

                                    {% if not loop.last %}<hr/> {% endif %}<br/>

                                {% endfor %}

                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>

                                    <div class="col-sm-11">
                                        <button type="submit" class="btn btn-success">Validez</button>
                                    </div>
                                </div>

                                {{ form_end(form) }}<br/>

                                <div class="star">(*) champs obligatoires</div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    {% endblock %}