{# src/AppBundle/Resources/views/Visit/index.html.twig#}

{% extends "layout.html.twig" %}

    {% block title %}
        {{ 'title.site.index' | trans }} - {{ parent() }}
    {% endblock %}


    {% block body %}

        <header class="masthead text-center text-white d-flex">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h1 class="text-uppercase">
                            <strong>{{ 'title.welcome' | trans }}</strong>
                        </h1>
                    </div>
                </div>
            </div>
        </header>


        <section>
            <div class="container">
                <div class="row">

                    <div class="col-lg-1">
                    </div>


                    <div class="col-lg-11">
                        <div class="container">

                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-success">
                                    {{ message | trans}}
                                </div>
                            {% endfor %}

                            <p>{{ 'homepage.paragraph0' | trans }}</p>

                            <p>{{ 'homepage.paragraph1' | trans }} :
                            <ul>
                                <li>{{ 'homepage.full.day.ticket' | trans }}</li>
                                <li>{{ 'homepage.half.day.ticket' | trans }}</li>
                            </ul>
                            </p>

                            <br/>

                            <p><strong>{{ 'homepage.prices' | trans }} :</strong></p>

                            <table>
                                <tr>
                                    <th>{{ 'homepage.array.tickets' | trans }}</th>
                                    <th>{{ 'label.full.day.ticket' | trans }}</th>
                                    <th>{{ 'label.half.day.ticket' | trans }}*</th>
                                </tr>

                                <tr>
                                    <td>{{ 'homepage.first.price' | trans }}</td>
                                    <td>16 euros</td>
                                    <td>8 euros</td>
                                </tr>

                                <tr>
                                    <td>{{ 'homepage.second.price' | trans }}</td>
                                    <td>12 euros</td>
                                    <td>6 euros</td>
                                </tr>

                                <tr>
                                    <td>{{ 'homepage.third.price' | trans }}**</td>
                                    <td>10 euros</td>
                                    <td>5 euros</td>
                                </tr>

                                <tr>
                                    <td>{{ 'homepage.fourth.price' | trans }}*** </td>
                                    <td> 8 euros</td>
                                    <td>4 euros</td>
                                </tr>
                            </table>
                            <div class="star">(*){{ 'discount.first.condition' | trans }} - (**){{ 'discount.second.condition' | trans }} - (***){{ 'discount.third.condition' | trans }}</div>
                            <br/>

                            <p>{{ 'homepage.recommandations' | trans }} </p>

                            <br/>
                            <div class="boutonbuy">
                            <button type="button" class="btn btn-light btn-lg"><a href="{{ path('app_visit_order') }}">{{ 'button.buy.tickets' | trans }}</a></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--<img src="{{ qr_code_path('vanessa') }}">-->
            <img src="{{ qr_code_data_uri('vanessa') }}">

        </section>


    {% endblock %}