{# src/AppBundle/Resources/views/Visit/order.html.twig#}

{% extends "layout.html.twig" %}

    {% block title %}
        Choix des billets - {{ parent() }}
    {% endblock %}


    {% block body %}

        <div class="container">
            <div class="row">

                <div class="col-lg-1">
                </div>

                <div class="col-lg-11 section-progress">
                    <div class="container"> <!--TODO Peut-on garder une URL en mémoire dans une session ? -->

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item text-success font-weight-bold"
                                    style="text-decoration:underline;">CHOIX DES BILLETS
                                </li>
                                <li class="breadcrumb-item active">Identification des visiteurs</li>
                                <li class="breadcrumb-item active">Coordonnées de l'acheteur</li>
                                <li class="breadcrumb-item active">Paiement</li>
                                <li class="breadcrumb-item active">Confirmation de la commande</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        {# {{ form(form) }} #}


        <section>
            <div class="container">
                <div class="row">

                    <div class="col-lg-1">
                    </div>


                    <div class="col-lg-11">
                        <div class="container">
                            <div class="form-group">

                                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                                {{ form_row(form.visitDate, {'attr': {'data-date-dates-disabled': publicHolidays |json_encode() }}) }}<br/>

                                {{ form_row(form.type, {label_attr: {class: 'radio-custom'} }) }}<br/>

                                {{ form_row(form.nbTicket) }}<br/>

                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>

                                    <div class="col-sm-11">
                                        <button type="submit" class="btn btn-success">Validez</button>
                                    </div>
                                </div>

                                {{ form_end(form) }}<br/>

                                <div class="star">(*) champs obligatoires</div>

                                {{ dump(publicHolidays) }}








                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


    {% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset('assets/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.standalone.css') }}"
          rel="stylesheet">

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap-datepicker-master/dist/locales/bootstrap-datepicker.fr.min.js') }}"></script>

    <script>
        $(document).ready(function () {

            $('.datepicker').datepicker({
                format: "yyyy-mm-dd",
                language: "fr",
                autoclose: true,
                daysOfWeekDisabled: '0,2',
                endDate: '+1y'
            });
        });

    </script>

{% endblock %}
