{# src/AppBundle/Resources/views/Visit/order.html.twig#}

{% extends "layout.html.twig" %}

    {% block title %}
        Choix des billets - {{ parent() }}
    {% endblock %}


    {% block body %}

        <div class="container">
            <div class="row">

                <div class="col-lg-1">
                </div>

                <div class="col-lg-11 section-progress">
                    <div class="container">

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item text-success font-weight-bold"
                                    style="text-decoration:underline;">CHOIX DES BILLETS
                                </li>
                                <li class="breadcrumb-item active">Identification</li>
                                <li class="breadcrumb-item active">Coordonnées</li>
                                <li class="breadcrumb-item active">Paiement</li>
                                <li class="breadcrumb-item active">Confirmation</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        {# {{ form(form) }} #}


        <section>
            <div class="container">
                <div class="row">

                    <div class="col-lg-1">
                    </div>


                    <div class="col-lg-11">
                        <div class="container">
                            <div class="form-group">

                                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                                {{ form_row(form.visitDate) }}<br/>

                                {{ form_row(form.type, {label_attr: {class: 'radio-custom'} }) }}<br/>

                                {{ form_row(form.nbTicket) }}<br/>


                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>

                                    <div class="col-sm-11">
                                        <button type="submit" class="btn btn-success">Validez</button>
                                    </div>
                                </div>

                                {{ form_end(form) }}<br/>

                                <div class="star">(*) champs obligatoires</div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


    {% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset('assets/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.standalone.css') }}"
          rel="stylesheet">

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                daysOfWeekDisabled: '0,2',
                datesDisabled:[
                    //1e mai, 11 novembre et 25 décembre > musée fermé
                    '2018/11/01','2018/12/25',
                    '2019/05/01','2019/11/01','2019/12/25',
                    '2020/05/01','2020/11/01','2020/12/25',
                    '2021/05/01','2021/11/01','2021/12/25',
                    '2022/05/01','2022/11/01','2022/12/25',
                    '2023/05/01','2023/11/01','2023/12/25',
                    '2024/05/01','2024/11/01','2024/12/25',

                    // les autres jours fériés, le musée est ouvert mais on ne peut pas effectuer une résa
                    '2018/07/14', '2018/08/15', '2018/11/11',
                    '2019/01/01', '2019/04/22', '2019/05/08', '2019/05/30', '2019/06/10', '2019/07/14', '2019/08/15', '2019/11/11',
                    '2020/01/01', '2020/04/13', '2020/05/08', '2020/05/21', '2020/06/01', '2020/06/14', '2020/08/15', '2020/11/11',
                    '2021/01/01', '2021/05/04', '2021/05/08', '2021/05/13', '2021/05/24', '2021/07/14', '2021/08/15', '2021/11/11',
                    '2022/01/01', '2022/04/18', '2022/05/08', '2022/05/26', '2022/06/06', '2022/07/14', '2022/08/15', '2022/11/11',
                    '2023/01/01', '2023/04/10', '2023/05/08', '2023/05/18', '2023/05/29', '2023/07/14', '2023/08/15', '2023/11/11',
                    '2024/04/01', '2024/04/01', '2024/05/08', '2024/05/09', '2024/05/20', '2024/07/14', '2024/08/15', '2024/11/11'
                ]
            });
        });

    </script>

{% endblock %}
