{# src/AppBundle/Resources/views/Visit/pay.html.twig#}

{% extends "layout.html.twig" %}

    {% block title %}
        {{ 'title.site.pay' | trans }} - {{ parent() }}
    {% endblock %}


    {% block body %}

        <div class="container">
            <div class="row">

                <div class="col-lg-1">
                </div>

                <div class="col-lg-11 section-progress">
                    <div class="container">

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active"><a class="breadcrumb-item" href="{{ path('app_visit_order') }}">{{ 'breadcrumb.first.label' | trans }}</a></li>
                                <li class="breadcrumb-item active"><a class="breadcrumb-item" href="{{ path('app_visit_identify') }}">{{ 'breadcrumb.second.label' | trans }}</a></li>
                                <li class="breadcrumb-item active"><a class="breadcrumb-item" href="{{ path('app_visit_customer') }}">{{ 'breadcrumb.third.label' | trans }}</a></li>
                                <li class="breadcrumb-item text-success font-weight-bold text-uppercase" style="text-decoration:underline;">{{ 'breadcrumb.fourth.label' | trans }}</li>
                                <li class="breadcrumb-item active">{{ 'breadcrumb.five.label' | trans }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
        </div>

        <section>

            <div class="container">
                <div class="row">

                    <div class="col-lg-2">
                    </div>

                    <div class="col-lg-9">

                        <div class="row">

                            <div class="col-lg-7">

                            <div class="title-recap"><button type="button" class="btn btn-success text-white">{{ 'payment.visit' | trans }}</button></div>
                            <ul>
                                <li><strong>{{ 'label.visit.date' | trans }} :</strong> {{ visit.visitDate | date('d/m/Y') }}</li>
                                <li><strong>{{ 'label.visit.type' | trans }} :</strong>
                                    {% if visit.type is constant('TYPE_FULL_DAY', visit ) %}
                                    {{ 'label.full.day.ticket' | trans }}
                                    {% endif %}
                                    {% if visit.type is constant('TYPE_HALF_DAY', visit) %}
                                    {{ 'label.half.day.ticket' | trans }}
                                    {% endif %}
                                </li>
                                <li>
                                {% for ticket in visit.tickets %}

                                    <strong>{{ 'ticket' | trans }} n° {{ loop.index }} :</strong> {{ ticket.lastname }} {{ ticket.firstname }} - {{ ticket.price }} euros <br/>

                                {% endfor %}
                                </li>
                                <li><strong>{{ 'total.invoice' | trans }} :</strong> {{ visit.totalAmount }} euros</li>
                            </ul>
                            <br/>

                            <div class="title-recap"><button type="button" class="btn btn-success text-white">{{ 'label.contact.customer' | trans }}</button></div>
                            <ul>
                                <li><strong>{{ 'label.lastname.customer' | trans }} :</strong> {{ visit.customer.lastname }}</li>
                                <li><strong>{{ 'label.firstname.customer' | trans }} :</strong> {{ visit.customer.firstname }}</li>
                                <li><strong>{{ 'label.email.customer' | trans }} :</strong> {{ visit.customer.email }}</li>
                            </ul>
                            <br/>

                            </div>

                            <div class="col-lg-5">

                            <div class="title-recap"><button type="button" class="btn btn-success text-white">{{ 'invoice.informations' | trans }}</button></div>
                            <ul>
                                <li><strong>{{ 'label.adress.customer' | trans }} :</strong> {{ visit.customer.adress }}</li>
                                <li><strong>{{ 'label.postcode.customer' | trans }} :</strong> {{ visit.customer.postCode }}</li>
                                <li><strong>{{ 'label.city.customer' | trans }} :</strong> {{ visit.customer.city }} - {{ visit.customer.country }}</li>
                            </ul>

                                <form action="" method="POST">
                                    <script
                                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="{{ stripe_publish_key }}"
                                            data-amount="{{ visit.totalAmount * 100 }}"
                                            data-email="{{ visit.customer.email }}"
                                            data-name="{{ 'louvre.museum' | trans }}"
                                            data-description="{{ 'ticketing' | trans }}"
                                            data-locale="{{ app.request.locale }}"
                                            data-label="{{ 'pay.order' | trans }}"
                                            data-currency="eur"
                                            data-zip-code="true"
                                            data-allow-remember-me="false">
                                    </script>
                                </form>

                            </div>

                        </div>
                    </div>


                    <div class="col-lg-1">
                    </div>

                </div>
            </div>




        </section>

    {% endblock %}
