{# src/AppBundle/Resources/views/Visit/pay.html.twig#}

{% extends "layout.html.twig" %}

    {% block title %}
        Paiement de la commande - {{ parent() }}
    {% endblock %}


    {% block body %}

        <div class="container">
            <div class="row">

                <div class="col-lg-1">
                </div>

                <div class="col-lg-11 section-progress">
                    <div class="container">

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active"><a class="breadcrumb-item" href="{{ path('app_visit_order') }}">Choix des billets</a></li>
                                <li class="breadcrumb-item active"><a class="breadcrumb-item" href="{{ path('app_visit_identify') }}">Identification des visiteurs</a></li>
                                <li class="breadcrumb-item active"><a class="breadcrumb-item" href="{{ path('app_visit_customer') }}">Coordonnées de l'acheteur</a></li>
                                <li class="breadcrumb-item text-success font-weight-bold" style="text-decoration:underline;">PAIEMENT</li>
                                <li class="breadcrumb-item active">Confirmation de la commande</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
        </div>

        <section>

            <div class="container">

                <div class="row">
                    <div class="col-lg-1">
                    </div>

                    <div class="col-lg-6">

                        <div class="num-billet">Récapitulatif de votre commande :</div>

                        Date de la visite : {{ visit.visitDate | date('d/m/Y') }}<br/>
                        Type de billet : {{ visit.type }}<br/>

                            {% for ticket in visit.tickets %}

                                Billet n° {{ loop.index }} : {{ ticket.lastname }} {{ ticket.firstname }} - {{ ticket.price }} euros <br/>

                            {% endfor %}
                        Total de la commande : {{ visit.totalAmount }} euros

                    </div>


                    <div class="col-lg-5">
                        <div class="num-billet">Coordonnées de l'acheteur :</div>
                        Nom : {{ visit.customer.lastname }}<br/>
                        Prénom : {{ visit.customer.firstname }}<br/>
                        Email : {{ visit.customer.email }}<br/><br/>

                        <div class="num-billet">Adresse de facturation :</div>
                        Adresse : {{ visit.customer.adress }}<br/>
                        Code postal : {{ visit.customer.postCode }}<br/>
                        Ville : {{ visit.customer.city }} - {{ visit.customer.country }}<br/><br/>
                    </div>



                </div>



                <div class="row">

                    <div class="col-lg-1">
                    </div>


                    <div class="col-lg-11">
                        <div class="container">
                            <div class="form-group">

                                <form method="post">

                                    <div class="col-sm-11">
                                        <form action="" method="POST">
                                            <script
                                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                    data-key="pk_test_1UTDqeBhaz9wN1ejB82UEBcf"
                                                    data-amount="{{ visit.totalAmount * 100 }}"
                                                    data-email="{{ visit.customer.email }}"
                                                    data-name="Musée du Louvre"
                                                    data-description="Billeterie"
                                                    data-locale="auto"
                                                    data-currency="eur"
                                                    data-zip-code="true"
                                                    data-allow-remember-me="false">
                                            </script>
                                        </form>
                                    </div>

                                </form>


                                <div class="star">(*) champs obligatoires</div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    {% endblock %}
