{# src/AppBundle/Resources/views/Visit/pay.html.twig#}

{% extends "layout.html.twig" %}

    {% block title %}
        Paiement de la commande - {{ parent() }}
    {% endblock %}


    {% block body %}

        <div class="container">
            <div class="row">

                <div class="col-lg-1">
                </div>

                <div class="col-lg-11 section-progress">
                    <div class="container">

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active"><a class="breadcrumb-item" href="{{ path('app_visit_order') }}">Choix des billets</a></li>
                                <li class="breadcrumb-item active"><a class="breadcrumb-item" href="{{ path('app_visit_identify') }}">Identification des visiteurs</a></li>
                                <li class="breadcrumb-item active"><a class="breadcrumb-item" href="{{ path('app_visit_customer') }}">Coordonnées de l'acheteur</a></li>
                                <li class="breadcrumb-item text-success font-weight-bold" style="text-decoration:underline;">PAIEMENT</li>
                                <li class="breadcrumb-item active">Confirmation de la commande</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
        </div>

        <section>

            <div class="container">
                <div class="row">

                    <div class="col-lg-4">
                    </div>

                    <div class="col-lg-6">

                        <div class="title-recap"><button type="button" class="btn btn-success text-white">Récapitulatif de votre commande :</button></div>
                        <ul>
                            <li>Date de la visite : {{ visit.visitDate | date('d/m/Y') }}</li>
                            <li>Type de billet : {{ visit.type }}</li>
                            <li>
                            {% for ticket in visit.tickets %}

                                Billet n° {{ loop.index }} : {{ ticket.lastname }} {{ ticket.firstname }} - {{ ticket.price }} euros <br/>

                            {% endfor %}
                            </li>
                            <li>Total de la commande : {{ visit.totalAmount }} euros</li>
                        </ul>
                        <br/>

                        <div class="title-recap"><button type="button" class="btn btn-success text-white">Coordonnées de l'acheteur :</button></div>
                        <ul>
                            <li>Nom : {{ visit.customer.lastname }}</li>
                            <li>Prénom : {{ visit.customer.firstname }}</li>
                            <li>Email : {{ visit.customer.email }}</li>
                        </ul>
                        <br/>

                        <div class="title-recap"><button type="button" class="btn btn-success text-white">Adresse de facturation :</button></div>
                        <ul>
                            <li>Adresse : {{ visit.customer.adress }}</li>
                            <li>Code postal : {{ visit.customer.postCode }}</li>
                            <li>Ville : {{ visit.customer.city }} - {{ visit.customer.country }}</li>
                        </ul>
                        <br/>


                            <form action="" method="POST">
                                <script
                                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key= {{ stripe_publish_key }}
                                        data-amount="{{ visit.totalAmount * 100 }}"
                                        data-email="{{ visit.customer.email }}"
                                        data-name="Musée du Louvre"
                                        data-description="Billeterie"
                                        data-locale="auto"
                                        data-currency="eur"
                                        data-zip-code="true"
                                        data-allow-remember-me="false">
                                </script>
                            </form>
                    </div>


                    <div class="col-lg-2">
                    </div>

                </div>
            </div>




        </section>

    {% endblock %}
